#res{
    text-decoration: none;
    color: aliceblue;
}

#btn2
{
    padding: 0%;
    border: none;
    background: none;
}

#btn1
{

    padding: 0%;
    border: none;
    background: none;

}

.ask
{
    background-color:rgb(247, 247, 91);
    margin: auto ;
    width: auto;
    height: 2350px;

    
}