<div class="cddd">
<div class="container">

    <div class="col-lg-12 col-sm-12 col-xs-12">
        {{message}}
<table class="table table-striped">
    
    <thead>
        <tr >
            <td>Volunteer Name</td>
            <td>Event Registered</td>
            <td>Review</td>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of ve">
            <td>{{v.volunteername}}</td>
            <td>{{v.eventnameregistered}}</td>
            <td>
                <textarea #review id="w3review" name="w3review" rows="4" cols="50" value="Enter Anything">Enter Your Review</textarea>
            </td>
            
            <td><button class="btn btn-danger" (click)="Review(v.volunteername,review.value)">Review</button></td> 
           

        </tr>
    </tbody>
</table> 

    </div> 
</div>
</div>