<div class="vm">
<div class="container">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <br>
        Search Here For Volunteers Upon Review :   <input type="text"  [(ngModel)]="searchKey" placeholder="Enter The Event Name" (keyup)="getVolReview()" placeholder="Enter Positive or Negative"/>
    <br>
      
<table class="table table-striped">
    <thead>
        <tr >
            <td>Volunteer Name</td>
            <td>Age</td>
            <td>Qualification</td>
            <td>Email</td>
            <td>Address</td>
            <td>Contact Number</td>
            <td>Review</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vs of v ">
            <td>{{vs.volunteername}}</td>
            <td>{{vs.age}}</td>
            <td>{{vs.qualification}}</td>
            <td>{{vs.email}}</td>
            <td>{{vs.address}}</td>
           <td>{{vs.mobileno}}</td>
           <td>{{vs.review}}</td>
           
            <td><button id="inBtn"class="btn btn-danger" (click)="Invite(vs.mobileno)">Invite</button></td> 
           

        </tr>
    </tbody>
</table> 

    </div> 
</div>


</div>