 .col
 {
     font-family: Verdana, Tahoma, sans-serif;
     text-decoration: none;
     color: aliceblue;
     
     
 }
 
 .col:hover
 {
    //background-color: yellow;
    //background-color: aliceblue;
   // width: auto;
    color:yellow;
    text-decoration: underline;
 }




  

//   #login
//   {
//       //padding: 00%;
//       margin-left: 50%;
//   }

// #login
// {
//     padding: 1000%;
// }

// 

// #logout
// {
//     padding: 800%;

// }